<div class="row justify-content-center">
    <div class="alert alert-warning" *ngIf="categories?.length === 0">
        <span jhiTranslate="<%= angularAppName %>.category.home.notFound">No categories found</span>
    </div>
    <div class="table-responsive" *ngIf="categories?.length > 0">
        <table class="table table-striped table-sm" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th scope="col" jhiSortBy="name" style="border-top: 0"><span jhiTranslate="<%= angularAppName %>.category.name">Name</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="slug" style="border-top: 0"><span jhiTranslate="<%= angularAppName %>.category.slug">Slug</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            <ng-template #recursiveTable let-list>
                <ng-container *ngFor="let currentItem of list ;trackBy: trackId">
                    <tr>
                        <td>
                            {{currentItem.name}}
                        </td>
                        <td>{{currentItem.slug}}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit"
                                        [routerLink]="['/blog/category', currentItem.slug]"
                                        preserveFragment
                                        queryParamsHandling="merge"
                                        class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/blog/admin/category', currentItem.slug, 'edit']"
                                        preserveFragment
                                        queryParamsHandling="merge"
                                        class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/blog/admin/category', { outlets: { popup: currentItem.slug + '/delete'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                </button>
                            </div>
                        </td>
                    </tr>

                    <!-- recursive call -->
                    <ng-container *ngIf="currentItem.childrens?.length > 0">
                        <ng-container *ngTemplateOutlet="recursiveTable; context:{ $implicit: currentItem.childrens }"></ng-container>
                    </ng-container>

                </ng-container>
            </ng-template>

            <ng-container *ngTemplateOutlet="recursiveTable; context:{ $implicit: categories}"></ng-container>

            </tbody>
        </table>

    </div>
    <div [hidden]="categories?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
