<div class="row justify-content-center">
    <div class="col-12">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <div>
                <div class="form-group d-none" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                           readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="<%= angularAppName %>.category.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name" formControlName="name" (ngModelChange)="buildSlug()"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 3 }">
                            This field is required to be at least 3 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="<%= angularAppName %>.category.slug" for="field_slug">Slug</label>
                    <input type="text" class="form-control" name="slug" id="field_slug"
                           formControlName="slug"/>
                    <div *ngIf="editForm.get('slug').invalid && (editForm.get('slug').dirty || editForm.get('slug').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('slug').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('slug').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 3 }">
                            This field is required to be at least 3 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('slug').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Slug' }">
                            This field should follow pattern for "Slug".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="<%= angularAppName %>.category.parentCategory" for="field_parentCategory">Parent Category</label>
                    <jhi-blog-select-paginate [service]="getService()" [method]="'queryhierarchical'" [sortBy]="['slug,asc']" (loadDataEvent)="loadCategory($event)" (errorEvent)="onError($event)"></jhi-blog-select-paginate>
                    <select jhi-blog-select-hierarchical
                            class="form-control"
                            id="field_parentCategory"
                            name="parentCategory"
                            formControlName="parentCategoryId"
                            [itemValue]="'name'"
                            [optional]="true"
                            [datas]="categories"
                            [selectedItemId]="editForm.get('parentCategoryId').value">
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="<%= angularAppName %>.category.description" for="field_description">Description</label>
                    <angular-editor-fa name="description" id="field_description" formControlName="description" [config]="editorConfig"></angular-editor-fa>

                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="resetFrom()" [routerLink]="['/blog/admin/category']"
                        preserveFragment
                        queryParamsHandling="merge">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
