<div>
    <div *ngIf="comments?.length === 0" class="card text-center center-block col-md-12">
        <div class="card-body">
            <span jhiTranslate="<%= angularAppName %>.comment.home.notFound">No comments found</span>
        </div>
    </div>

    <div *ngIf="comments?.length > 0">
        <div infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <div class="card mb-3" *ngFor="let comment of comments ;trackBy: trackId">
                <div class="card-header p-2">
                    <span>{{comment.username}}</span>
                    <span *jhiHasAnyAuthority="'ROLE_ADMIN'" class="float-right">
                        <a [routerLink]="['/blog/admin/comment/', comment.id, 'edit']">
                            <span jhiTranslate="<%= angularAppName %>.comment.home.createOrEditLabel">Moderate Comment</span>
                            #{{comment.id}}
                        </a>
                    </span>
                </div>
                <div class="card-body p-2">
                    <blockquote class="blockquote mb-0">
                        <p>{{comment.content}}</p>
                        <footer class="blockquote-footer">{{comment.commentDate | date:'medium'}}</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>

</div>
