<div class="list-group mb-3" id="filter_category">
    <!-- HEADER -->
    <div class="list-group-item list-group-item-action list-group-item-secondary p-2">
        <!-- TITLE -->
        <span>
            <fa-icon icon="folder-open"></fa-icon>
            <span jhiTranslate="<%= angularAppName %>.menu.filter">Filter</span> :
            <span jhiTranslate="<%= angularAppName %>.menu.categories">Categories</span>
            </span>
        <!-- PAGINATE -->
        <jhi-blog-select-paginate [service]="getService()" [method]="'queryhierarchical'" [sortBy]="['slug,asc']" (loadDataEvent)="loadCategory($event)" (errorEvent)="onError($event)"></jhi-blog-select-paginate>
    </div>

    <div [hidden]="!queryRequest['categoryId.equals']"
         style="cursor: pointer"
         class="list-group-item list-group-item-action p-2"
         (click)="onSelectAllCategory()">
        <span jhiTranslate="<%= angularAppName %>.category.all">All categories</span>
    </div>
    <!-- create template -->
    <ng-template #recursiveSelectBox let-list>
        <ng-container *ngFor="let category of list ;trackBy: trackId">

            <!-- template content for items -->
            <div
                id="filter-category-{{category.id}}"
                style="cursor: pointer"
                [ngClass]="isActiveItem(category.id) ? 'list-group-item list-group-item-action p-2 active' : 'list-group-item list-group-item-action p-2'"
                (click)="onSelectCategory(category)">
                {{category.name}}
            </div>

            <!-- recursive call -->
            <ng-container *ngIf="category.childrens?.length > 0">
                <ng-container *ngTemplateOutlet="recursiveSelectBox; context:{ $implicit: category.childrens }"></ng-container>
            </ng-container>

        </ng-container>
    </ng-template>

    <!-- display template -->
    <ng-container *ngTemplateOutlet="recursiveSelectBox; context:{ $implicit: categories}"></ng-container>


</div>
