<div class="d-inline d-inline-block float-right" style="-webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;">
    <small>
        <fa-icon [icon]="'angle-double-left'" (click)="onClickEvent(-1)" [hidden]="page <= 1"></fa-icon>
        <span>Page {{page}} - {{pageTotal}}</span>
        <fa-icon [icon]="'angle-double-right'" (click)="onClickEvent(1)" [hidden]="!haveNextPage()"></fa-icon>
    </small>
</div>
