<option value="" *ngIf="optional"></option>

<!-- create template -->
<ng-template #recursiveSelectBox let-list>
    <ng-container *ngFor="let data of list ;trackBy: trackId">

        <!-- template content -->
        <option value="{{data[itemKey]}}" [selected]="null !== selectedItemId && selectedItemId == data.id">{{data[itemValue]}}</option>

        <!-- recursive call -->
        <ng-container *ngIf="data.childrens?.length > 0">
            <ng-container *ngTemplateOutlet="recursiveSelectBox; context:{ $implicit: data.childrens }"></ng-container>
        </ng-container>

    </ng-container>
</ng-template>

<!-- display template -->
<ng-container *ngTemplateOutlet="recursiveSelectBox; context:{ $implicit: datas}"></ng-container>
