<div>
    <h2 id="page-heading">
        <span jhiTranslate="<%= angularAppName %>.category.home.title">Category</span>
        <button id="jh-create-entity"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                class="btn btn-primary float-right jh-create-entity create-category"
                [routerLink]="['/blog/admin/category']">
            <fa-icon [icon]="'plus'"></fa-icon>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <jhi-blog-widget-common-search [isDataLoading]="isLoading" (resetEvent)="onSearchReset()" (searchChange)="onSearchTerm($event)"></jhi-blog-widget-common-search>
    <br/>
    <div class="alert alert-warning" *ngIf="category?.length === 0">
        <span jhiTranslate="<%= angularAppName %>.category.home.notFound">No Category found</span>
    </div>
    <div *ngIf="category?.length > 0" class="row">

        <div class="col-md-4" *ngFor="let cat of category ;trackBy: trackId">
            <div class="card mb-4">
                <!-- CARD CONTENT -->
                <div class="card-body text-justify">
                    <h5 class="card-title">
                        <span *ngIf="cat.parentCategoryId">
                            <a [routerLink]="['/blog/category', cat.parentCategorySlug]">{{cat.parentCategoryName}}</a>
                            <fa-icon [icon]="'arrow-right'" class="small"></fa-icon>
                        </span>
                        <a [routerLink]="['/blog/category', cat.slug]">
                            {{cat.name}}
                        </a>
                    </h5>
                    <p class="card-text" [innerHTML]="cat.description"></p>
                </div>
            </div>
        </div>
    </div>

    <!-- PAGINATE -->
    <div [hidden]="category?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
