<div class="row justify-content-center">
    <div class="col-md-3">
        <!-- MENU -->
        <jhi-blog-widget-category-menu></jhi-blog-widget-category-menu>
    </div>
    <div class="col-md-9">
        <!-- BUTTON -->
        <button type="submit"
                [routerLink]="['/blog/admin/category', category.slug, 'edit']"
                preserveFragment
                queryParamsHandling="merge"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                class="btn btn-primary float-right ml-2">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>
        </button>
        <button type="submit"
                (click)="previousState()"
                class="btn btn-info float-right">
            <fa-icon [icon]="'arrow-left'"></fa-icon>
        </button>

        <!-- CONTENT -->
        <div *ngIf="category">
            <h2>
                <span jhiTranslate="<%= angularAppName %>.menu.category"></span> :
                <span *ngIf="category.parentCategoryId">
                    <a [routerLink]="['/blog/category', category.parentCategorySlug]">{{category.parentCategoryName}}</a>
                    <fa-icon [icon]="'arrow-right'" class="small"></fa-icon>
                </span>{{category.name}}
            </h2>
            <hr>
            <span [innerHTML]="category.description"></span>
            <hr>
            <jhi-blog-widget-post-list-tab-view
                [(query)]="requestParam"
                (routePageChange)="transition($event)">
            </jhi-blog-widget-post-list-tab-view>
        </div>

    </div>
</div>
