<div class="list-group mb-3" id="menu_category">

    <!-- HEADER -->
    <div class="list-group-item list-group-item-action list-group-item-secondary p-2">
        <!-- TITLE -->
        <span>
            <fa-icon icon="folder-open"></fa-icon>
            <span jhiTranslate="<%= angularAppName %>.menu.menu">Menu</span> :
            <span jhiTranslate="<%= angularAppName %>.menu.categories">Categories</span>
        </span>
        <!-- PAGINATE -->
        <jhi-blog-select-paginate [service]="getService()" [method]="'queryhierarchical'" [sortBy]="['slug,asc']" (loadDataEvent)="loadCategory($event)" (errorEvent)="onError($event)"></jhi-blog-select-paginate>
    </div>

    <!-- TEMPLATE -->
    <ng-template #recursiveSelectBox let-list>
        <ng-container *ngFor="let category of list ;trackBy: trackId">

            <!-- template content for items -->
            <div
                id="menu-category-{{category.id}}"
                class="list-group-item list-group-item-action p-2"
                style="cursor: pointer"
                routerLink="/blog/category/{{category.slug}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            >
                {{category.name}}
            </div>

            <!-- recursive call -->
            <ng-container *ngIf="category.childrens?.length > 0">
                <ng-container *ngTemplateOutlet="recursiveSelectBox; context:{ $implicit: category.childrens }"></ng-container>
            </ng-container>

        </ng-container>
    </ng-template>

    <!-- display template -->
    <ng-container *ngTemplateOutlet="recursiveSelectBox; context:{ $implicit: categories}"></ng-container>


</div>
