<div class="list-group mb-3" id="menu_tags">

    <!-- HEADER -->
    <div class="list-group-item list-group-item-action list-group-item-secondary p-2">
        <!-- TITLE -->
        <span>
            <fa-icon icon="folder-open"></fa-icon>
            <span jhiTranslate="<%= angularAppName %>.menu.menu">Menu</span> :
            <span jhiTranslate="<%= angularAppName %>.menu.tags">Tags</span>
        </span>
        <!-- PAGINATE -->
        <jhi-blog-select-paginate [service]="getService()" [method]="'query'" [sortBy]="['slug,asc']" (loadDataEvent)="loadTags($event)" (errorEvent)="onError($event)"></jhi-blog-select-paginate>
    </div>

    <!-- ITEMS -->
    <div *ngFor="let tag of tags; trackBy: trackId"
         id="menu-tags-{{tag.id}}"
         class="list-group-item list-group-item-action p-2"
         style="cursor: pointer"
         routerLink="/blog/tags/{{tag.slug}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
    >
        {{tag.name}}
    </div>

</div>
