<div class="row justify-content-center">
    <div class="alert alert-warning" *ngIf="posts?.length === 0">
        <span jhiTranslate="<%= angularAppName %>.post.home.notFound">No posts found</span>
    </div>
    <div class="table-responsive" *ngIf="posts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th scope="col" jhiSortBy="title"><span jhiTranslate="<%= angularAppName %>.post.title">Title</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="categoryName"><span jhiTranslate="<%= angularAppName %>.post.category">Category</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="createdBy"><span jhiTranslate="<%= angularAppName %>.post.author">Author</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="createdDate"><span jhiTranslate="<%= angularAppName %>.post.createdDate">Updated Date</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="publish"><span jhiTranslate="<%= angularAppName %>.post.publish">Publish</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let post of posts ;trackBy: trackId">
                <td>{{post.title}}</td>
                <td>
                    <div *ngIf="post.categoryId">
                        <a [routerLink]="['/blog/category', post.categorySlug]">{{post.categoryName}}</a>
                    </div>
                </td>
                <td>
                    {{post.createdBy}}
                </td>
                <td>{{post.createdDate | date:'medium'}}</td>
                <td>
                    <span *ngIf="!post.publish" class="d-inline badge badge-secondary" jhiTranslate="<%= angularAppName %>.post.publishDisable">Draft</span>
                    <span *ngIf="post.publish" class="d-inline badge badge-success" jhiTranslate="<%= angularAppName %>.post.publishEnable">Published</span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit" [routerLink]="['/blog', post.slug]" class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                        </button>
                        <button type="submit" [routerLink]="['/blog/admin/post', post.slug, 'edit']" class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/blog/admin/post', { outlets: { popup: post.slug + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="posts?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
