<div class="row justify-content-center">

    <div class="col-8">

        <div *ngIf="post">

            <!-- HEADER -->
            <div class="row">
                <div class="col-10 pl-0">
                    <h2>{{post.title}}</h2>
                </div>
                <div class="col-2">
                    <button type="submit"
                            [routerLink]="['/blog/admin/post', post.slug, 'edit']"
                            preserveFragment
                            queryParamsHandling="merge"
                            *jhiHasAnyAuthority="'ROLE_ADMIN'"
                            class="btn btn-primary float-right ml-2">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                    </button>
                    <button type="submit" (click)="previousState()" class="btn btn-info float-right">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>
                    </button>
                </div>
            </div>

            <!-- SUB-HEADER -->
            <div class="row">

                <div class="d-inline-block" *ngIf="post.categoryId">
                    <fa-icon icon="folder-open"></fa-icon>&nbsp;
                    <span>
                        <a [routerLink]="['/blog/category', post.categorySlug]">{{post.categoryName}}</a>
                    </span>
                    &nbsp; | &nbsp;
                </div>

                <div class="d-inline-block" *ngIf="post.createdBy">
                    <fa-icon [icon]="'user-check'"></fa-icon>&nbsp;<span> {{post.createdBy}}</span>
                    &nbsp; | &nbsp;
                </div>

                <div class="d-inline-block" *ngIf="post.createdDate">
                    <fa-icon [icon]="'user-clock'"></fa-icon>&nbsp;<span>{{post.createdDate | date:'medium'}}</span>
                </div>

            </div>

            <hr/>

            <!-- BANNER -->
            <div class="row">
                <div *ngIf="post.featuredImage">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <!-- <a (click)="openFile(post.featuredImageContentType, post.featuredImage)"> -->
                                <img [src]="'data:' + post.featuredImageContentType + ';base64,' + post.featuredImage" style="max-width: 100%;" alt="post image"/>
                                <!-- </a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BLOCKQUOTE -->
            <div class="row mt-3 mb-3" *ngIf="post.description">
                <div class="col-lg-2 text-muted p-0 d-lg-block d-none d-sm-none">
                    <fa-icon icon="quote-left" size="6x"></fa-icon>&nbsp;
                </div>
                <div class="col-lg-10 col-md-12">
                    <blockquote class="blockquote highlight font-italic text-justify bg-light">
                        <p class="mb-0">{{post.description}}</p>
                    </blockquote>
                </div>

            </div>

            <!-- CONTENT -->
            <div class="row" [innerHTML]="post.content"></div>

            <hr/>

            <!-- FOOTER -->
            <div class="row">
                <!-- TAGS -->
                <div *ngIf="post.tags.length > 0">
                    <fa-icon icon="tags" fixedWidth="true"></fa-icon>&nbsp;
                    <span class="badge badge-primary mr-1" style="cursor: pointer" *ngFor="let tag of post.tags; let last = last" [routerLink]="['/blog/tags', tag.slug]">
                        {{tag.name}}{{last ? '' : ', '}}
                    </span>
                </div>
            </div>

            <hr/>

            <!-- COMMMENTS : ADD -->
            <div class="row pb-5" *jhiHasAnyAuthority="'ROLE_USER'">
                <jhi-blog-public-comment-create [postId]="post.id" class="col-md-12"></jhi-blog-public-comment-create>
            </div>

            <!-- COMMMENTS : LIST -->
            <div class="row">
                <jhi-blog-public-comment-list [postId]="post.id" class="col-md-12"></jhi-blog-public-comment-list>
            </div>

        </div>

    </div>

</div>
