<div class="row justify-content-center">
    <div class="alert alert-warning" *ngIf="tags?.length === 0">
        <span jhiTranslate="<%= angularAppName %>.tags.home.notFound">No tags found</span>
    </div>
    <div class="table-responsive" *ngIf="tags?.length > 0">
        <table class="table table-striped table-sm" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th scope="col"  jhiSortBy="name" style="border-top: 0"><span jhiTranslate="<%= angularAppName %>.tags.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th scope="col"  jhiSortBy="slug" style="border-top: 0"><span jhiTranslate="<%= angularAppName %>.tags.slug">Slug</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th scope="col" style="border-top: 0"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tags of tags ;trackBy: trackId">
                <td>{{tags.name}}</td>
                <td>{{tags.slug}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/blog/tags', tags.slug]"
                                preserveFragment
                                queryParamsHandling="merge"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/blog/admin/tags', tags.slug, 'edit']"
                                preserveFragment
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/blog/admin/tags', { outlets: { popup: tags.slug + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="tags?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
