<jhi-blog-admin-subnavbar></jhi-blog-admin-subnavbar>
<div>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-md-10">
            <h2 id="page-heading">
                <span jhiTranslate="<%= angularAppName %>.menu.dashboard">Dashboard</span>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    TODO : Create your dashboard here
                </div>
            </div>
        </div>
    </div>
</div>
