<div class="row justify-content-center">
    <div class="col-md-3">
        <!-- MENU -->
        <jhi-blog-widget-tags-menu></jhi-blog-widget-tags-menu>
    </div>
    <div class="col-md-9">
        <!-- BUTTON -->
        <button type="submit"
                [routerLink]="['/blog/admin/tags', tags.slug, 'edit']"
                preserveFragment
                queryParamsHandling="merge"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                class="btn btn-primary float-right ml-2">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>
        </button>
        <button type="submit"
                (click)="previousState()"
                class="btn btn-info float-right">
            <fa-icon [icon]="'arrow-left'"></fa-icon>
        </button>

        <!-- CONTENT -->
        <div *ngIf="tags">
            <h2><span jhiTranslate="<%= angularAppName %>.menu.tag"></span> : {{tags.name}}</h2>
            <hr>
            <span [innerHTML]="tags.description"></span>
            <hr>
            <jhi-blog-widget-post-list-tab-view
                [(query)]="requestParam"
                (routePageChange)="transition($event)">
            </jhi-blog-widget-post-list-tab-view>
        </div>

    </div>
</div>
